* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    width: 100%;
    height: 20px;
    background: #fff;
    position: fixed;
}

.container {
    max-width: 95%;
    margin: auto;
}

.logo {
    float: left;
    line-height: 65px;
}

.menu {
    float: right;
    line-height: 65px;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu a {
    display: block;
    padding: 0px 30px;
    text-decoration: none;
    color: #6d6d6d;
    font-size: 9px;
    transition: all 500ms ease;
    margin-top: auto;
}

.menu a:hover {
    background: #cc673b;
    color: #fff;
}

.menu .submenu {
    background: #fff;
    box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.2);
    display: none;
}

.menu .submenu li a {
    line-height: 50px;
}

.menu ul li a:hover+ul,
.menu .submenu:hover {
    display: block;
}